<div class="grid">
    <mat-grid-list cols="4" rowHeight="2:1">
        
        <mat-grid-tile [colspan]=3>
                <mat-form-field class="textBox">
                        <input matInput disabled value={{exp}}>
                      </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile><button mat-raised-button color="accent"class="btn" (click)="write('←')">←</button></mat-grid-tile>

        <mat-grid-tile><button mat-raised-button class="btn" (click)="write('1')">1</button></mat-grid-tile>
        <mat-grid-tile><button mat-raised-button class="btn" (click)="write('0')">0</button></mat-grid-tile>
        <mat-grid-tile><button mat-raised-button class="btn" (click)="write('R')">R</button></mat-grid-tile>
        <mat-grid-tile><button mat-raised-button class="btn" (click)="write('S')">S</button></mat-grid-tile>

        <mat-grid-tile><button mat-raised-button class="btn" (click)="write('^')">^</button></mat-grid-tile>
        <mat-grid-tile><button mat-raised-button class="btn" (click)="write('v')">v</button></mat-grid-tile>
        <mat-grid-tile><button mat-raised-button class="btn" (click)="write('→')">→</button></mat-grid-tile>
        <mat-grid-tile><button mat-raised-button class="btn" (click)="write('↔')">↔</button></mat-grid-tile>
        <mat-grid-tile><button mat-raised-button class="btn" (click)="write('~')">~</button></mat-grid-tile>

        <mat-grid-tile><button mat-raised-button class="btn" (click)="write('(')">(</button></mat-grid-tile>
        <mat-grid-tile><button mat-raised-button class="btn" (click)="write(')')">)</button></mat-grid-tile>

        <mat-grid-tile><button mat-raised-button class="btn" (click)="genTable()" color="primary">↓</button></mat-grid-tile>
        


    </mat-grid-list>
</div>